<ion-view view-title="About Brings"    >
<ion-nav-buttons side="right" >
    <a style="color: white;" class="button button-icon ion-android-notifications" 
        ng-click="clickCreaElencoSpese()" ng-href="#/app/notifc"></a> 
		 <a style="color: white;" class="button button-icon" 
        ng-click="clickCreaElencoSpese()" ng-href="#/app/MyWallet"><img class="notificationright" src="img/wallet.png"/></a> 
</ion-nav-buttons>
  <ion-content  >
 
 
<div class="card" >
<b >
<p   style="color:green"  > 
   RIGHT THING at RIGHT PLACE at RIGHT TIME – A Myth?? – Well No More. Brings faster and reliable service now gets your stuff delivered intra-city at your doorstep within the set of an hour. So no more disappointed Customers, Business Counterparts, Family & Friends- JUST enhanced satisfaction & improved relationships.

With Brings, “Nothing Far From You”
We organize the unorganized way of delivering packages intra city. Brings takes this challenge to deliver your package with a fleet of GPS tracked bikers that operate over the routes of your orders. 
Brings intra-city courier service offers premium service quality at a user friendly cost. 

Brings is an intelligent automated resource matching platform to replace the human supply chain to overcome the problems we all experience on a day to day basis when it comes to delivery. 

Brings initiative strives to benefit a large number of corporate, SMES, individuals, households by providing them user friendly efficient online traceable delivery service / application for their day to day needs. 
Let your fingers do it all, order, trust us and share,
Because every package has its own worth so here we are, serving you right on time.
How the Brings app works is really simple
</p>
  </b>
</div>
 


  </ion-content>
</ion-view>
 