<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button  class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
	   
	  
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable side-menu-banner">
      <img src="img/menubanner.jpg">
    </ion-header-bar>
    <ion-content class="side-menu-content">
  <ion-list class="reg-side-menu">
	  <ion-item menu-close href="#/app/dashboard">
         <span class="ion-ios-home"> </span> Home
        </ion-item>
	 <!-- <ion-item menu-close ng-show="loggedIn" href="#/app/MyPayment">
         <span class="ion-ios-home"> </span> My Payments
        </ion-item> -->
		 	 
<ion-item menu-close href="#/app/MyProfile" ng-show="loggedIn">
         <span class="ion-ios-home"> </span> My Profile
        </ion-item>

         <ion-item menu-close href="#/app/login" ng-hide="loggedIn">
            <span class="ion-ios-person"> </span> Login
        </ion-item> 
       <ion-item menu-close href="#/app/register" ng-hide="loggedIn">
            <span class="ion-ios-person"> </span> Register
        </ion-item>  
		<!--  <ion-item menu-close href="#/app/register">
            <span class="ion-ios-person"> </span> My Profile
        </ion-item> -->
		 <!-- <ion-item menu-close href="#/app/register">
            <span class="ion-locked"> </span> Change Password
        </ion-item> -->
		<!--  <ion-item menu-close href="#/app/trackorder" ng-show="loggedIn">
            <span class="ion-ios-briefcase" > </span> My Orders
        </ion-item> -->
		<ion-item menu-close href="#/app/currorderlist" ng-show="loggedIn" >
            <span class="ion-ios-briefcase" > </span> Current Orders
        </ion-item>
		<!-- <ion-item menu-close href="#/app/currentorders" ng-show="loggedIn">
            <span class="ion-ios-briefcase" > </span> My Wallet
        </ion-item> -->
		<ion-item menu-close href="#/app/changePass" ng-show="loggedIn">
            <span class="ion-ios-briefcase"> </span> Change password
        </ion-item>
		<ion-item menu-close href="#/app/mini" ng-show="loggedIn">
            <span class="ion-ios-briefcase"> </span> Mini Statement
        </ion-item>
		
		<ion-item menu-close href="#/app/MyWallet" ng-show="loggedIn">
            <span class="ion-ios-briefcase"> </span> My Money
        </ion-item>
		<ion-item menu-close href="#/app/addmoney" ng-show="loggedIn">
            <span class="ion-ios-briefcase"> </span> My Wallet
        </ion-item>
		<ion-item menu-close href="#/app/notifc" ng-show="loggedIn">
            <span class="ion-ios-briefcase"> </span> My Notifications
        </ion-item>
		 
		 
		<ion-item menu-close href="#/app/about"     >
            <span class="ion-power"> </span> References
        </ion-item>
		
		<ion-item menu-close href="#/app/about"     >
            <span class="ion-power"> </span> Help & FAQ
        </ion-item>
		 
		  
		<ion-item menu-close href="#/app/about"     >
            <span class="ion-power"> </span> Legal
        </ion-item>
		
		 <ion-item menu-close href="#/app/dashboard"  ng-show="loggedIn" ng-click="logout()">
            <span class="ion-power"> </span> Logout
        </ion-item>
     <!--   <ion-item menu-close href="#/app/dashboard"     >
            <span class="ion-power"> </span> About
        </ion-item> -->
      </ion-list>    
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
