<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button  class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-stable side-menu-banner">
      <img src="img/menubanner.jpg">
    </ion-header-bar>
    <ion-content class="side-menu-content">
      <ion-list class="reg-side-menu" ng-repeat="namesOfMenu in MenuList">
	  <ion-item menu-close href="#/app/dashboard">
         <span class="ion-ios-home"> </span> Home
        </ion-item>
		 
<ion-item menu-close href="#/app/MyProfile">
         <span class="ion-ios-home"> </span> My Profile
        </ion-item>

         <ion-item menu-close href="{{namesOfMenu.vurl}}" >
            <span class="ion-ios-person"> </span> {{namesOfMenu.vname}}
        </ion-item> 
       <ion-item menu-close href="#/app/register" >
            <span class="ion-ios-person"> </span> Register
        </ion-item>  
		<!--  <ion-item menu-close href="#/app/register">
            <span class="ion-ios-person"> </span> My Profile
        </ion-item> -->
		 <!-- <ion-item menu-close href="#/app/register">
            <span class="ion-locked"> </span> Change Password
        </ion-item> -->
		 <ion-item menu-close href="#/app/trackorder" >
            <span class="ion-ios-briefcase" > </span> My Orders
        </ion-item>
		<ion-item menu-close href="#/app/changePass" >
            <span class="ion-ios-briefcase"> </span> Change password
        </ion-item>
		
		<!--  <ion-item menu-close href="#/app/register">
            <span class="ion-ios-filing"> </span> My Earnings
        </ion-item> -->
		 <ion-item menu-close href="#/app/dashboard" ng-click="logout()">
            <span class="ion-power"> </span> Logout
        </ion-item>
       
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
