<ion-view view-title="References"  ng-controller="AppCtrl"  >
 <style>
.assignbtn {
    width: 100%;
    background: #16af61;
    color: #fff;
    padding: 5px;
    border: 0px;
    margin: 5px auto;
    text-align: center;
    text-decoration: none;
}
 </style>
  <ion-content   class="main-bg" ng-init="getUserCredit()">
 
 
   <br><br><br>
 <div class="row">
	<div class="col login-logo"><img src="img/logowhite.png"></div>
  </div>
   
 
 
<div class="card" >
   
 <div class="row tracktxt">
    Your referral code  
     
  </div> 
  <div class="row tracktxt">
 <center>  <p style="font-size:34px;color:blueviolet">{{referralCode}} </p>    </center>
     
  </div> 
  
    <div class="row tracktxt">
   <div class="col"><button class="assignbtn"   ng-click="shareAnywhere()"  > Share</button>   </div>
     
  </div> 
 
</div>
  
 


  </ion-content>
</div>
  


  </ion-content>
</ion-view>
 