
<ion-view view-title="Register" ng-controller="registerController">
<style>
    .abc{
 background: url('../img/background.png');
    }   
    .item_reg{
    border-color: #ddd;
    background-color: #fff;
    color: #444;
    z-index: 2;
    margin: -1px;
    font-size: 25px;
    text-align: center;
    border-width: 0px;
    border-bottom: solid 1px;
    } 
    input{
            text-align: center;
}
      .button_login{
       width: 230px !important;
    height: 60px;
    background-color: white;
    border: 3px solid #f80086;
    border-radius: 66px;
    } 
</style>
  <ion-content class="main-bg">
  <div class="row">
	<div class="col">
      <div class="abc"><h4 class="title">SIGN-UP</h4></div>
      </div>
  </div>
    <form name="userForm">
       <div class="row reg-main">
		<div class="col">
			<div class="list">
  <label class="item item-input item-stacked-label item_reg">
    <span class="input-label">Full Name</span>
    <input type="text" placeholder="Srinivas Rachamalla Patel">
  </label>
  
  <label class="item item-input item-stacked-label item_reg">
    <span class="input-label">Email Id</span>
    <input type="text" placeholder="srinivas.rachamalla92@gmail.com">
  </label>
    
  <label class="item item-input item-stacked-label item_reg">
    <span class="input-label">Mobile No</span>
    <input type="number" placeholder="9010661474">
  </label>
  <label class="item item-input item-stacked-label item_reg">
    <span class="input-label">OTP</span>
    <input type="password" placeholder="1234">
  </label>
</div>

           </div>
        </div>
        	<div class="row">
	<div class="col">
	<button class="button button-full button_login" ng-click="newRegister(user)">
  SIGNUP
</button>
	</div>
	</div>
    </form>
  </ion-content>
</ion-view>
