<ion-view view-title="Buy" >
<style>
.cancelbtn1 {
    width: 11%;
    color: #fff;
    background: #888;
    border: 0px;
    padding: 8px;
    font-size: 18px;
}
.modal.bottom-sheet {
  bottom: 0;  
  min-height: initial;
  top: initial;
  height: 100%;
  border-width: 1px;
  border-style: solid;
  
}
.bookbtn1 {
    width: 100%;
    color: #fff;
    background: #16af61;
    border: 0px;
    padding: 8px;
    font-size: 18px;
	float: right;
}
img.abc {
    width: 221px;
}
 

</style>
 <script id="locationTo.html" type="text/ng-template">
 <ion-bottom-sheet-view>   
   <ion-modal-view >
	
	
      <ion-header-bar class="item-input-inset">
        <label class="item-input-wrapper"  >
          <i class="icon ion-ios7-search placeholder-icon"></i>
           
        </label>
		<a ng-click="close()">cancel</a>
      </ion-header-bar>
      <ion-content title="Search Location">
	  <center><a>Enter To location</a></center>
        <ion-list>
		 <ion-item  >
            <input type="search"  ng-model="search.query" placeholder="Search location">
          </ion-item>
		
          <ion-item ng-show="search.error">
            {{search.error}}
          </ion-item>
		   <ion-item  ng-click="getLocationCurrLocation1()">
		    <img src="img/curr.png" width="14px"/>
            Use current location
          </ion-item>
          <ion-item ng-repeat="suggestion in search.suggestions" ng-click="chooseToPlace(suggestion)">
            {{suggestion.description}}
          </ion-item>
        </ion-list>
            </ion-content>
    </ion-modal-view>
	      </ion-bottom-sheet-view>

  </script>
<ion-nav-buttons side="right" >
    <a style="color: white;" class="button button-icon ion-android-notifications" 
        ng-click="clickCreaElencoSpese()" ng-href="#/creaNotaSpese"></a> 
		 <a style="color: white;" class="button button-icon" 
        ng-click="clickCreaElencoSpese()" ng-href="#/app/MyWallet"><img class="notificationright" src="img/wallet.png"/></a> 
</ion-nav-buttons>
  <ion-content>
  <ion-slide-box class="Buy-slide">
  <ion-slide>
  <a href="#/app/offers">
     <img src="img/123125.jpg" class="abc">
	 </a>
  </ion-slide>
  <ion-slide>
 <img src="img/123123.jpg" class="abc">
  </ion-slide>
  <ion-slide>
 <img src="img/123124.jpg" class="abc">
  </ion-slide>
   <ion-slide>
 <img src="img/123126.jpg" class="abc">
  </ion-slide>
</ion-slide-box>
  
<div class="row ">
<div class="col ">
   
     <label class="item item-input">
    <input type="text" id="location1"  location-suggestions location="location1" ng-model="location1.formatted_address"   placeholder="To Location">
 
  </label>
</div>
</div>
<div class="row ">
	<div class="col"> </div>
	</div>
   <div class="row ">
	<div class="col"><button class="bookbtn1" ng-click="checkAvailBuy()">Check Availiability</button></div>
	</div>

  <form ng-submit="doBuy(formObj)" ng-if="serviceAvail">
       <div class="row reg-main">
		<div class="col">
			<div class="list buy-border">
  <label class="item item-input">
    <input type="text" placeholder="Please enter address"  ng-model="formObj.toAddress"
	ng-change="validationOfPickAddr(formObj.toAddress)"
	 >
	  <p ng-if="validPAddress">Please enter address</p>
  </label>
   <label class="item item-input">
    <input type="text"  ng-model="formObj.ContactNumber" placeholder="Contact Number"
	ng-change="validationOfPickContNum(formObj.ContactNumber)"
	>
	<p ng-if="validPCon">Please contact no.</p>
  </label>
   <label class="item item-input">
    <input type="text" ng-model="formObj.ContactPerson" placeholder="Contact Person Name"
	ng-change="validationOfPickContName(formObj.ContactPerson)"
	>
	<p ng-if="validDnm">Please enter name</p>
  </label>
  <label class="item item-input">
    <input type="text" ng-model="formObj.FullAddress" placeholder="Full Address (Flat No. etc.,.)"
	ng-change="validationOfPickFulladd(formObj.ContactPerson)"
	>
	 <p ng-if="validDCon">Please enter full address</p>
  </label>

<fieldset  data-ng-repeat="choice in choices">
 <label class="item item-input">
    <input type="text" ng-model="choice.item" placeholder="Item Name" ng-change="validationOfItem(choice.item)">
   <p ng-if="validItem">Please enter any one item</p>
  </label>
       <button class="remove cancelbtn1" type="button"  ng-click="removeChoice($index)">-</button>
   </fieldset>
   <button class="addfields bookbtn" type="button" ng-click="addNewChoice()">Add Items</button>

    
</div>
		</div>
	</div>
	<div class="row">
	<div class="col"><button class="cancelbtn">Cancel</button></div>
	<div class="col"><button type="submit" class="bookbtn"  ng-disabled="makeDisable">Buy Now</button></div>
	</div>
    </form>
  </ion-content>
</ion-view>
