<ion-view view-title="Current Order"   >
<style>
.bookbtn1 {
    width: 100%;
    color: #fff;
    background: #16af61;
    border: 0px;
    padding: 8px;
    font-size: 18px;
	float: right;
}
.paybtn {
    
    color: #fff;
    background: #4aaf16;
    border: 0px;
    padding: 8px;
   
}


</style>
<ion-nav-buttons side="right" >
    <a style="color: white;" class="button button-icon ion-android-notifications" 
        ng-click="clickCreaElencoSpese()" ng-href="#/app/notifc"></a> 
		 <a style="color: white;" class="button button-icon" 
        ng-click="clickCreaElencoSpese()" ng-href="#/app/MyWallet"><img class="notificationright" src="img/wallet.png"/></a> 
</ion-nav-buttons>
  <ion-content ng-init="getCurrOrders()">
 

<div class="card"  ng-repeat="data in getArrayOfOrders">
  
   <div class="row tracktxt">
   <div class="col">Status : {{data.status}} </div>
    <div class="col text-right">Work Order No <b>{{data.WORK_ORDER_NUMBER}}</b><br> </div>
  
 </div>
   <div class="row">
   <div class="col">
      <span class="trackred"><b> Serviceman Confirmation : </b> 
	  <a class="assignbtn" ng-if="data.ROLE=='SERVICEMAN' " ng-click="assignMeFun(data)">Assign me</a></span>
  </div>
 
   </div>
   <div class="row">
   <div class="col">
       <b> From : </b>  <b> {{data.FROM_ADDRESS}} to {{data.TO_ADDRESS}}  </b>
	 
  </div>
  
    
</div>
<div class="row">
   <div class="col">
       <b> Item Description : </b>  <b> {{data.DESCRIPTION || data.description}}    </b>
	  
  </div>
    
</div>
  <div class="row">
   <div class="col">
       <b> Est. Weight : </b>  <b> {{data.ESTIMATED_WEIGHT}}    </b>
	  
  </div>
    
</div>
<div class="row">
   <div class="col">
       <b> <u> Order Type : </b>  <b> {{data.ORDER_TYPE}}    </u> </b><br>
	  <b> User Payment Status  :  {{data.PAYMENT_CONFIRMATION}}</b>  <br>
	    <b ng-if="data.ORDER_TYPE=='BuyGoods'" > Order items  :  <br>  </b>  
		<b   ng-repeat="dataObj in data.ITEMS">
			<b  ng-repeat="finalItems in dataObj">   {{finalItems}}</b>  <br>
		
						 <label class="item item-input">
					
					<input type="text" placeholder="Enter Item Rate" ng-model="rateForItem">
					 
				  </label>
 <button class="bookbtn1"  ng-click="confirmationRateByServiceman(rateForItem,dataObj,data.WORK_ORDER_NUMBER)">Submit Rates</button>
		</b>  <br>
		
		  <b ng-if="data.ORDER_TYPE=='BuyGoods'"> Prices initiated by Serviceman  :  {{data.totalbill}}</b>  <br>
		     <div class="row " ng-if="data.ORDER_TYPE=='BuyGoods'">
	 
	
	</div>
  </div>
    
</div>
<div class="row" ng-if="data.SERVICE_PERSON_CONFIRMATION=='YES'">
   <div class="col" ng-if="payOn">
   <b> Serviceman Contact No.  :  {{data.SERVICE_MAN_CONTACT}}</b>  <br>
   
	<b> Payment Status  :  NA</b>  <br>
	<b> Total Bill  :  {{data.totalbill}}</b> <br>
     
	  
  </div>
  </div>
<div class="row" ng-if="data.PAYMENT_CONFIRMATION=='NA'" >
  
  <div class="col" ng-if="payOn" ng-if="data.SERVICE_PERSON_CONFIRMATION=='YES'">
  <b  > Payonline  with : </b> 
       <!--  <img  width="115px" id="windowUrl" src="https://img-cdn.prestashop.com/free-modules/42-1.png" ng-click="testmethod()"></img>  --> 
	   <div class="row">
	 <a class="paybtn"   ng-click="testmethod()">Credit Card (Click to process)</a> or
	 <a class="paybtn"   ng-click="testmethod()">Net Banking (Click to process)</a>
	 </div>
  </div>  </div>
   
   <div class="row">
    
 
   </div>
</div>

 
  </ion-content>
</ion-view>
