<ion-view view-title="Orders" ng-controller="currOrderctrl"  >

 <script id="loading.html" type="text/ng-template">
    <ion-spinner icon="ripple" class="spinner-assertive"></ion-spinner>
    <p>Please wait,we are checking with buyer payment confirmation</p>
</script>

<style>
.bookbtn1 {
    width: 100%;
    color: #fff;
    background: #16af61;
    border: 0px;
    padding: 8px;
    font-size: 18px;
	float: right;
}
.paybtn {
    
    color: #fff;
    background: #4aaf16;
    border: 0px;
    padding: 8px;
   
}
.assignbtn{
    width: 100px;
    background: #51840f;
    color: #fff;
    padding: 5px;
    border: 0px;
    margin: 5px auto;
    text-align: center;
    text-decoration: none;
}

</style>
<ion-nav-buttons side="right" >
     
		 <a style="color: white;" class="button button-icon" 
        ng-click="clickCreaElencoSpese()" ng-href="#/app/MyWallet"><img class="notificationright" src="img/wallet.png"/></a> 
</ion-nav-buttons>
 
      
  <ion-content >
   <ion-refresher on-refresh="getCurrOrders()">
                     
      </ion-refresher>
<div class="card">
<input type="text" ng-model="WORK_ORDER_NUMBER" placeholder="Enter WORKID">
</div>
<div class="card"  ng-repeat="data in getArrayOfOrders  | filter: WORK_ORDER_NUMBER track by $index "   
	 data-ng-style="{'background-color':  data.color ? 'aliceblue':'' }">
  
   <div class="row tracktxt">
   <div class="col"><b> Order Type : </b>  <b> {{data.ORDER_TYPE}}    </b><br> </div>

   <div class="col text-right">Work Order No <b>{{data.WORK_ORDER_NUMBER}}</b><br><span class="trackred" ng-if="data.ROLE=='USER'">Status : {{data.status}} 
     
   </span> <span class="trackred" ng-if="data.ROLE=='SERVICEMAN'">Status : {{data.STATUS}} 
     
   </span></div>

   </div>
    
     <div class="row">
	  
	   <div class="col">
      <!--  <b> Item Description : </b>  <b> {{data.DESCRIPTION || data.description}}    </b> --></div>
  <a class="trackbtn" href="#/app/trackdetails" ng-click="getOrderDetails(data)"  ng-if="data.ROLE=='BUYER'">Details</a>  
 
  <a class="trackbtn"  href="#/app/trackdetails" ng-click="getOrderDetails(data)" ng-if="data.ROLE=='SERVICEMAN'">Details</a>
  <a class="assignbtn"  ng-if="data.ROLE=='SERVICEMAN' && data.SERVICE_PERSON_CONFIRMATION!='YES'" ng-click="assignMeFun(data)">  Assign Me</a>
  <a class="trackbtn"  ng-if="data.ROLE=='SERVICEMAN' && data.PAYMENT_CONFIRMATION=='NA'" ng-click="cancelOrderByServiceman(data)">  Cancel</a>
   <a class="trackbtn"  ng-if="data.ROLE !='SERVICEMAN' && data.PAYMENT_CONFIRMATION=='NA'" ng-click="cancelOrderByBuyerBeforePay(data)">  Cancel</a>
   </div>
    <div class="row">
	  
	   <div class="col">
      <p> <b> Order Date : </b>  <b> {{data.ORDER_DATE}}    </b> </p>
	   <p ng-if="data.ROLE=='BUYER'"> <b>Serviceman Conf. : </b>  <b> {{data.SERVICE_PERSON_CONFIRMATION}}    </b> </p>
	    <p ng-if="data.ROLE=='SERVICEMAN'"> <b>Payment Conf. : </b>  <b> {{data.PAYMENT_CONFIRMATION}}    </b> </p>
   </div>
  
  
  
</div>
</div>

  </ion-content>

</ion-view>
 