<div>
<center>
          <a href="javascript:"   readonly class="padding" style="text-decoration:none;">
            <i class="icon {{r.icon}} " style="font-size: 55px;"  ng-click="setRating(r.question,r.value)"></i>
          </a>
		  </center>
		  </div>