<ion-view view-title="Live Tracking" ng-controller="liveTrackController">
<style>
.tracknav {
    position: inherit; 
    width: 100%;
    left: 0;
    bottom: 0px;
    min-height: 150px;
    background: rgba(255, 255, 255, 0.68);
}

</style>
<ion-nav-buttons side="right" > 
		 <a style="color: white;" class="button button-icon" 
        ng-click="clickCreaElencoSpese()" ng-href="#/creaNotaSpese"><img class="notificationright" src="img/wallet.png"/></a> 
</ion-nav-buttons>
  <ion-content ng-init="getTrackDetails()">
  
  
     <br><br><br>
  <div id="myP" >{{distBetween}}</div>
  <p>Current Location Of Serviceman is : {{servCurrLocation}}</p>

 
  <br><br><br>
 <p>From Location : {{resultData.FROM_ADDRESS}}</p>
 <p>To Location : {{resultData.TO_ADDRESS}}</p>
<div class="card" ng-if="roleOfUser=='buyer'">
 <div class="padding text-center" ng-if="UserRatingFlag">
        <h3>Rate your experience</h3>
        <div>
          <a href="javascript:" ng-repeat="r in ratingArr" class="padding" style="text-decoration:none;">
            <i class="icon {{r.icon}}" style="font-size: 55px;" ng-click="setRating(r.question,r.value)"></i>
          </a>
        </div>
      </div>
 
<button ng-click="received()" ng-if="!UserRatingFlag">Received</button>  
  
</div>
  <div class="card" ng-if="roleOfUser=='serviceman'">
  <div ng-if="servicemanRatingFlag">	<center>
          <a href="javascript:"   class="padding" style="text-decoration:none;">
            <i class="icon {{r.icon}} " style="font-size: 55px;"  ng-click="setRating(r.question,r.value)"></i>
          </a>
		  </center>	
        </div>
		
<button ng-click="delivered()" ng-if="!servicemanRatingFlag">Delivered</button>


		
</div>
  

<div class="card"  >
  
   <div class="row tracknav bs-wizard"  >

                
                
                 <div class="col bs-wizard-step complete"> 
                
                  <div class="progress"></div>
                  <a  class="bs-wizard-dot {{showVar1}}"></a>
                  <div class="bs-wizard-info text-center"><img src="img/bike.png"/></div>
                </div>
                <div class="col bs-wizard-step complete"> 
                
                  <div class="progress"></div>
                  <a  class="bs-wizard-dot {{showVar2}}"></a>
                  <div class="bs-wizard-info text-center"><img src="img/bike.png"/></div>
                </div>
                
                <div class="col bs-wizard-step complete"> 
                  
                  <div class="progress"></div>
                  <a   class="bs-wizard-dot {{showVar3}}"></a>
                  <div class="bs-wizard-info text-center"><img src="img/bike.png"/></div>
                </div>
                
				
                <div class="col bs-wizard-step complete"> 
                  
                 
                  <a  class="bs-wizard-dot {{showVar4}}"></a>
                  <div class="bs-wizard-info text-center"><img src="img/bike.png"/></div>
                </div>
				
                
				
           
</div>
 
  
</div>

  </ion-content>
</ion-view>
