<ion-view view-title="Rate" ng-controller="liveTrackController">

<ion-nav-buttons side="right" >
   
		 <a style="color: white;" class="button button-icon" 
        ng-click="clickCreaElencoSpese()" ng-href="#/app/MyWallet"><img class="notificationright" src="img/wallet.png"/></a> 
</ion-nav-buttons>
  <ion-content>
  <div class="card">
 <div>
<center>
          <a href="javascript:"   readonly class="padding" style="text-decoration:none;">
            <i class="icon {{r.icon}} " style="font-size: 55px;"  ng-click="setRating(r.question,r.value)"></i>
          </a>
		  </center>
		  </div>
 </div>
  </ion-content>
</ion-view>
