<ion-view view-title="My Trip" ng-controller="currOrderctrl"  >
<style>
.bookbtn1 {
    width: 100%;
    color: #fff;
    background: #16af61;
    border: 0px;
    padding: 8px;
    font-size: 18px;
	float: right;
}
.paybtn {
    
    color: #fff;
    background: #4aaf16;
    border: 0px;
    padding: 8px;
   
}
.assignbtn{
    width: 100px;
    background: #51840f;
    color: #fff;
    padding: 5px;
    border: 0px;
    margin: 5px auto;
    text-align: center;
    text-decoration: none;
}
 
.zoomin img:hover { width: 300px; height: 253px; }
.spinner svg {
position: absolute;
width: 19% !important;
height: 85px !important;
top:250%; 
left  : 40%;
}
</style>
<ion-nav-buttons side="right" >
  
		 <a style="color: white;" class="button button-icon" 
        ng-click="clickCreaElencoSpese()" ng-href="#/app/MyWallet"><img class="notificationright" src="img/wallet.png"/></a> 
</ion-nav-buttons>
 
      
  <ion-content  >
   
   <center>
   <div class="zoomin">
 <img src="js/orders/start.png" style="width:250px" ng-click="start()" ng-if="disableStart!=true"/> 
 </div>
 <hr ng-if="disableStart!=true">
 <img src="js/orders/stop.png" style="width:250px" ng-click="stop()"/>
 
   </center>
 
  </ion-content>

</ion-view>
 