<ion-view view-title="Track Details" ng-controller="currOrderctrl">
<style>
 
.item.wrap, .item-content.wrap {
white-space: normal;
}
 #grad1 {
   
    background: blue; /* For browsers that do not support gradients */    
    background: -webkit-linear-gradient(left, red , yellow); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, red, yellow); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, red, yellow); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #c6e6fd , white); /* Standard syntax (must be last) */
}
</style>
<ion-nav-buttons side="right" >
    
		 <a style="color: white;" class="button button-icon" 
        ng-click="clickCreaElencoSpese()" ng-href="#/creaNotaSpese"><img class="notificationright" src="img/wallet.png"/></a> 
</ion-nav-buttons>
  <ion-content  ng-init="checkOrderStatusPayu()">
  
 
<div class="bar bar-header bar-stable">

  <ion-segment ng-model="categories" full="true"  assertive>
  <ion-segment-button value="order">
    Order
  </ion-segment-button>
  <ion-segment-button value="service" ng-if="detailsObj.ROLE=='BUYER'">
    Serviceman
  </ion-segment-button>
   <ion-segment-button value="buyer" ng-if="detailsObj.ROLE!='BUYER'">
    Buyer info
  </ion-segment-button>
  <ion-segment-button value="animation">
    Payment/Status
  </ion-segment-button>
  
</ion-segment>
  </div>
 

  <div ng-switch="categories">

    <ion-list ng-switch-when="order">
	<ion-item >
     
      </ion-item>  
	  <ion-item >
     
      </ion-item>  
      <ion-item id="grad1" >
   <b> WORK ID :   {{detailsObj.WORK_ORDER_NUMBER}}
      </ion-item>  
	  <ion-item ng-if="detailsObj.ORDER_TYPE !='BuyGoods'" class="wrap" id="grad1">
    From :   {{detailsObj.FROM_ADDRESS}} to : {{detailsObj.TO_ADDRESS}}
      </ion-item>
       <ion-item ng-if="detailsObj.ORDER_TYPE =='BuyGoods'">
      To : {{detailsObj.TO_ADDRESS}}
      </ion-item>
	  <ion-item id="grad1">
   Amount : ₹. {{detailsObj.totalbill}}
      </ion-item> 
	    <ion-item id="grad1">
   Order Type : {{detailsObj.ORDER_TYPE}}  
      </ion-item> 
	  <ion-item  id="grad1" >
  Description  :   {{detailsObj.description}}</b>
      </ion-item>
    </ion-list>

    <ion-list ng-switch-when="service">
	<ion-item >
     
      </ion-item>  
	  <ion-item >
     
      </ion-item>  
      <ion-item id="grad1">
      Name of delivery person : {{detailsObj.NAME_DELIVERY_PER}}
      </ion-item>
	  
	   <ion-item id="grad1">
     <p ng-click="openDialer(detailsObj.SERVICE_MAN_CONTACT)"> <b> Contact No. of Delivery Person :  <a> {{detailsObj.CONTACT_DELIVERY_PER}}</a> </b></p>
      </ion-item >
	   <ion-item id="grad1">
      <p ng-click="openDialer(detailsObj.SERVICE_MAN_CONTACT)"><b>Serviceman Contact No. : <a>{{detailsObj.SERVICE_MAN_CONTACT}} </a></b></p>
	     </ion-item>
	  
	    <ion-item id="grad1" class="wrap">
	       <p>Buyer ID : {{detailsObj.BUYER_ID}}</p> ,  <p>Buyer Name : {{detailsObj.BUYER_NAME}}</p> 
		 </ion-item>
	  
	   <ion-item id="grad1">
	       <p ng-click="openDialer(detailsObj.SERVICE_MAN_CONTACT)"><b>Pickup Person Contact No. : <a> {{detailsObj.CONTACT_NUM_PCKD_GOODS}}</a> </b></p> 
		 </ion-item>
	  
	  <ion-item id="grad1" ng-if="detailsObj.PAYMENT_CONFIRMATION !='NA' && detailsObj.SERVICE_PERSON_CONFIRMATION !='NA'">
	         
         <p>Track Order : <a  ng-click="saveWorkId(detailsObj.WORK_ORDER_NUMBER)"> Click Here</a></p>
 
	  </b>
 
		 </ion-item>
		 
		 
	  
		 
      <ion-item id="grad1" 
	  ng-if="detailsObj.PAYMENT_CONFIRMATION !='NA' && (detailsObj.START_STATUS == 'NA' &&detailsObj.STOP_STATUS =='NA') ">
	  Start-Stop Events: <a href="#/app/startstop" ng-click="saveWorkId2(detailsObj.WORK_ORDER_NUMBER)"> Click Here</a>
       
     </ion-item>
  
     
    
	   
     
    </ion-list>
	  <ion-list ng-switch-when="buyer">
	   <ion-item></ion-item> <ion-item></ion-item>
      <ion-item id="grad1">
    <b>   Name of Delivery Person : {{detailsObj.NAME_DELIVERY_PER}}
      </ion-item>
	   <ion-item id="grad1">
     <p ng-click="openDialer(detailsObj.SERVICE_MAN_CONTACT)"> <b> Contact No. of Delivery Person :  <a> {{detailsObj.CONTACT_DELIVERY_PER}}</a> </b></p>
      </ion-item>
	   <ion-item id="grad1"> 
      <p ng-click="openDialer(detailsObj.SERVICE_MAN_CONTACT)"><b>Serviceman Contact No. : <a>{{detailsObj.SERVICE_MAN_CONTACT}} </a></b></p>
	     </ion-item>
	     <ion-item id="grad1">
	     <p>Serviceman Name  : {{detailsObj.SERVICE_MAN_NAME}}</p>
		 </ion-item>
		  <ion-item id="grad1">
	       <p>  Buyer ID : {{detailsObj.BUYER_ID}}   ,  Buyer Name : {{detailsObj.BUYER_NAME}}  </p>
		 </ion-item>
		 <ion-item id="grad1">
	       <p ng-click="openDialer(detailsObj.SERVICE_MAN_CONTACT)"><b>Pickup Person Contact No. : <a> {{detailsObj.CONTACT_NUM_PCKD_GOODS}}</a> </b></p> 
		 </ion-item>
		 
		  <ion-item id="grad1">
	       <p>Pickup Person Contact Name. : {{detailsObj.NAME_OF_PERSON_PCKD_GOODS}}</p>
 
		 </ion-item>
		   <ion-item id="grad1">
	      <img src="{{detailsObj.IMAGE}}" style="width : 100px">
 
		 </ion-item>
		 
		    <ion-item id="grad1" ng-if="detailsObj.PAYMENT_CONFIRMATION !='NA' && detailsObj.SERVICE_PERSON_CONFIRMATION !='NA'">
	         
         <p>Track Order : <a  ng-click="saveWorkId(detailsObj.WORK_ORDER_NUMBER)"> Click Here</a></p>
 
	  </b>
 
		 </ion-item>
		 
		 
		     </ion-list>
 <ion-list ng-switch-when="animation">
     <ion-item>
     
      </ion-item>
	  <ion-item>
      
      </ion-item>
	 <ion-item id="grad1">
 <b>     Status :  {{detailsObj.STATUS}}
      </ion-item>
      
	   <ion-item id="grad1"  ng-if="detailsObj.PAYMENT_CONFIRMATION =='NA' && detailsObj.SERVICE_PERSON_CONFIRMATION !='NA'  && detailsObj.ROLE=='BUYER' ">
   Click Here to pay  :  <a class="trackbtn"  ng-click="iniatedUserPay()">Pay Now</a>  
      </ion-item>
      
	    <ion-item  id="grad1" >
   Payment status  :   {{detailsObj.PAYMENT_CONFIRMATION}}
      </ion-item>
	   
	    <ion-item   id="grad1">
  Comments by serviceman  :   {{detailsObj.COMMENTS_BY_SERVICEMAN}}
      </ion-item>
	  
	  <ion-item id="grad1"  ng-if="detailsObj.PAYMENT_CONFIRMATION !='NA' && detailsObj.ROLE=='BUYER' "" >
  Transaction ID  :   {{detailsObj.TRANSACTION_ID}} </b>  
      </ion-item>
    </ion-list>
  </div>
		

 <br><br>
 
 <div class="row" ng-if="detailsObj.ROLE =='BUYER'"> 
 
   <div class="col" ng-if="detailsObj.ORDER_TYPE=='BuyGoods'">
       
	 
	    <b  > Order items  :  <br>  </b>  
	    <br> <br>
		 <li ng-repeat="dataObj in detailsObj.ITEMS track by $index"> <b>
			<b  ng-repeat="finalItems in dataObj" ng-if="$index > 0">   {{finalItems}}</b>  <br>
		
						   
		</b></li>  <br> <br>
		
		  <b ng-if="data.ORDER_TYPE=='BuyGoods'"> Prices initiated by Serviceman  :  {{data.totalbill}}</b>  <br>
		   
  </div>
    
</div>
 <div class="row" ng-if="detailsObj.ROLE !='BUYER'"> 
 <b> <u> Order Type : </b>  <b> {{detailsObj.ORDER_TYPE}}    </u> </b><br>
   <div class="col" ng-if="detailsObj.ORDER_TYPE=='BuyGoods'">
       
	 
	    <b  > Order items  :  <br>  </b>  
		<b   ng-repeat="dataObj in detailsObj.ITEMS track by $index">
			<b  ng-repeat="finalItems in dataObj" ng-if="$index > 0">   {{finalItems}}</b>  <br>
		
						 <label class="item item-input">
					
					<input type="text" placeholder="Enter Item Rate" ng-model="rateForItem">
					 
				  </label>
 <button class="bookbtn1"  ng-click="confirmationRateByServiceman(rateForItem,dataObj,detailsObj.WORK_ORDER_NUMBER)">Submit Rates</button>
		</b>  <br> <br>
		
		  <b ng-if="data.ORDER_TYPE=='BuyGoods'"> Prices initiated by Serviceman  :  {{data.totalbill}}</b>  <br>
		   
  </div>
    
</div>
 
  
      
 
 
  </ion-content>
</ion-view>
