<ion-view view-title="Track Order" ng-controller="AppCtrl" ng-init="loadMyOrders()">

<ion-nav-buttons side="right" >  
		 <a style="color: white;" class="button button-icon" 
        ng-click="clickCreaElencoSpese()" ng-href="#/app/MyWallet"><img class="notificationright" src="img/wallet.png"/></a> 
</ion-nav-buttons>
  <ion-content>
 

<div class="card" ng-repeat="vm in myOrderData">
  
   <div class="row tracktxt">
   <div class="col"><b>{{vm.SERVICE_PERSON_NAME}}</b><br><b>Items:</b>{{vm.NAME_OF_PERSON_PCKD_GOODS}}</div>
 
   <div class="col text-right">Order No <b>115879</b><br><span class="trackred">{{vm.STATUS}} </span></div>

   </div>
   <div class="row">
        <div class="col"> <b>Total Bill : {{vm.TOTAL_BILL}}</b> </div>
 
   </div>
     <div class="row">
	   <div class="col">
        <b>Service Person Ph. : {{vm.SERVICE_PERSON_CONTACT}}</b> </div>
  <a class="trackbtn" href="#/app/trackdetails">Details</a>
 
   </div>
</div>


  </ion-content>
</ion-view>
