<ion-view view-title="Track Details" ng-controller="currOrderctrl">

<ion-nav-buttons side="right" >
    
		 <a style="color: white;" class="button button-icon" 
        ng-click="clickCreaElencoSpese()" ng-href="#/creaNotaSpese"><img class="notificationright" src="img/wallet.png"/></a> 
</ion-nav-buttons>
  <ion-content  ng-init="checkOrderStatusPayu()">
 
<div class="row trackdetil">
<div class="col">Status : {{detailsObj.STATUS}}</div>
 
<div class="col text-right">{{detailsObj.WORK_ORDER_NUMBER}}</div>
</div>
<div class="row trackdetilsub">
<div class="col" ng-if="detailsObj.ORDER_TYPE !='BuyGoods'"><img src="img/updown.png"/> <div class="trackpull-left">{{detailsObj.FROM_ADDRESS}} <br>to  {{detailsObj.TO_ADDRESS}}</div></div>
<div class="col" ng-if="detailsObj.ORDER_TYPE=='BuyGoods'"><img src="img/updown.png"/> <div class="trackpull-left">To : <br> {{detailsObj.TO_ADDRESS}}</div></div>
<div class="col text-right trackcor"><b>  <p id="myP"></p> </b></div>
<div class="col text-right trackcor">Amount : {{detailsObj.totalbill}}</div>
</div>


		<div class="row header">
          <div class="col">Utility Company Name</div>
          <div class="col">Service Code</div>
          <div class="col">Pay Limit</div>
          <div class="col">Account Number to Use</div>
          <div class="col"></div>
        </div>
        <div class="row" >
          <div class="col">sdfsdfdsf</div>
          <div class="col">sdfsdfdsf</div>
          <div class="col">sdfsdfdsf</div>
           <div class="col">sdfsdfdsf</div>
          <div class="col"><button class="button" ng-click="ctrl.add($index)">Add</button></div>
        </div>
		
		
		


  <div class="row "  ng-if="detailsObj.ROLE=='BUYER'">

                
                 
              
                <div class="col" ng-if="detailsObj.PAYMENT_CONFIRMATION =='NA' && detailsObj.SERVICE_PERSON_CONFIRMATION !='NA'  ">
              
               <b> Click Here to pay 
                <a class="trackbtn" ng-click="iniatedUserPay()" >Pay Now</a> 
				    </b>
                </div>
                </br></br></br>
           
</div>
 <div class="row" ng-if="detailsObj.ROLE =='BUYER'"> 
 <b> <u> Order Type : </b>  <b> {{detailsObj.ORDER_TYPE}}    </u> </b><br>
   <div class="col" ng-if="detailsObj.ORDER_TYPE=='BuyGoods'">
       
	 
	    <b  > Order items  :  <br>  </b>  
	    <br> <br>
		 <li ng-repeat="dataObj in detailsObj.ITEMS track by $index"> <b>
			<b  ng-repeat="finalItems in dataObj" ng-if="$index > 0">   {{finalItems}}</b>  <br>
		
						   
		</b></li>  <br> <br>
		
		  <b ng-if="data.ORDER_TYPE=='BuyGoods'"> Prices initiated by Serviceman  :  {{data.totalbill}}</b>  <br>
		   
  </div>
    
</div>
 <div class="row" ng-if="detailsObj.ROLE !='BUYER'"> 
 <b> <u> Order Type : </b>  <b> {{detailsObj.ORDER_TYPE}}    </u> </b><br>
   <div class="col" ng-if="detailsObj.ORDER_TYPE=='BuyGoods'">
       
	 
	    <b  > Order items  :  <br>  </b>  
		<b   ng-repeat="dataObj in detailsObj.ITEMS track by $index">
			<b  ng-repeat="finalItems in dataObj" ng-if="$index > 0">   {{finalItems}}</b>  <br>
		
						 <label class="item item-input">
					
					<input type="text" placeholder="Enter Item Rate" ng-model="rateForItem">
					 
				  </label>
 <button class="bookbtn1"  ng-click="confirmationRateByServiceman(rateForItem,dataObj,detailsObj.WORK_ORDER_NUMBER)">Submit Rates</button>
		</b>  <br> <br>
		
		  <b ng-if="data.ORDER_TYPE=='BuyGoods'"> Prices initiated by Serviceman  :  {{data.totalbill}}</b>  <br>
		   
  </div>
    
</div>
<div ng-if="detailsObj.ORDER_TYPE=='BringGoods'">
 <div class="row" >
  
   <div class="col" >
         <p>From Location : {{detailsObj.FROM_ADDRESS}}</p>
	</div>
	 <div class="col" >
         <p>To Location : {{detailsObj.TO_ADDRESS}}</p>
	</div>
  </div>
     <div class="row"  >
  
   <div class="col" >
         <p>Name of Delivery Person : {{detailsObj.NAME_DELIVERY_PER}}</p>
	</div>
	 
	  <div class="col" >
         <p ng-click="openDialer(detailsObj.SERVICE_MAN_CONTACT)"> <b> Contact No. of Delivery Person :  <a> {{detailsObj.CONTACT_DELIVERY_PER}}</a> </b></p>
	</div>
  </div>
        <div class="row"  >
  
   <div class="col" >
         <p ng-click="openDialer(detailsObj.SERVICE_MAN_CONTACT)"><b>Serviceman Contact No. : <a>{{detailsObj.SERVICE_MAN_CONTACT}} </a></b></p>
	</div>

  </div>
      <div class="row"  >
  
   <div class="col" >
         <p>Assiged Serviceman Name Assiged : {{detailsObj.SERVICE_MAN_NAME}}</p>
	</div>
	 
  </div>
   <div class="col" >
         <p>Buyer ID : {{detailsObj.BUYER_ID}}</p> ,  <p>Buyer Name : {{detailsObj.BUYER_NAME}}</p> 
	</div>
      <div class="row"  >
  
   <div class="col" >
         <p ng-click="openDialer(detailsObj.SERVICE_MAN_CONTACT)"><b>Pickup Person Contact No. : <a> {{detailsObj.CONTACT_NUM_PCKD_GOODS}}</a> </b></p>
	</div>
	 
	  
   <div class="col" >
         <p>Pickup Person Contact Name. : {{detailsObj.NAME_OF_PERSON_PCKD_GOODS}}</p>
	</div>
  </div>
      <div class="row"  >
  
   <div class="col" >
         <p>status : {{detailsObj.status}}</p>
	</div>
	 
  </div>
      <div class="row"  >
  
   <div class="col" >
         <img src="{{detailsObj.IMAGE}}" style="width : 100px">
	</div>
	 
  </div>
   
</div>
<br><br><br>
  
 <div class="row"  ng-if="detailsObj.PAYMENT_CONFIRMATION !='NA' && detailsObj.SERVICE_PERSON_CONFIRMATION !='NA'">
  
   <div class="col" >
         <p>Track Order : <a  ng-click="saveWorkId(detailsObj.WORK_ORDER_NUMBER)"> Click Here</a></p>
	</div>
	 
	
  </div>
    <div class="row" ng-if="detailsObj.PAYMENT_CONFIRMATION !='NA' && detailsObj.status == 'START TRIP'">
 <div class="col" >
         <p>Start-Stop Events: <a href="#/app/startstop" ng-click="saveWorkId2(detailsObj.WORK_ORDER_NUMBER)"> Click Here</a></p>
	</div>
	 </div>
  </ion-content>
</ion-view>
