<ion-view view-title="Change Password" ng-controller="changePasswordController">
 
  <ion-content class="main-bg">
  
    <form ng-submit="changePass(formObj)">
       <div class="row reg-main">
		<div class="col">
			<div class="list login-border">
  <label class="item item-input">
  <span class="ion-ios-person-outline"></span>
    <input type="password" ng-model="userCurrentPassword" placeholder="Enter current password">
  </label>
   <label class="item item-input">
  <span class="ion-ios-telephone-outline"></span>
    <input type="password" ng-model="formObj.userNewPassword" placeholder="Enter new password">
  </label>
    

  
</div>
		</div>
	</div>
	<div ng-if="formObj.userNewPassword.length > 3">
	<div class="row" ng-if="userCurrentPassword!=formObj.userNewPassword">
	<div class="col">
	 Passwords didnt match
	</div>
	</div>
	</div>
	<div class="row">
	<div class="col">
	<button class="button login-btn button-outline button-full ">
  Change password
</button>
	</div>
	</div>
    </form>
  </ion-content>
</ion-view>
