<ion-view view-title="Forgot Password" ng-controller="forgotPwdCtrl">
 
  <ion-content class="main-bg">
  
    <form ng-submit="getPwd(formObj)">
       <div class="row reg-main">
		<div class="col">
			<div class="list login-border">
  <label class="item item-input">
  <span class="ion-ios-person-outline"></span>
    <input type="text" ng-model="formObj.userMail" placeholder="Enter Email Id">
  </label>
   
    

  
</div>
		</div>
	</div>
	 
	<div class="row">
	<div class="col">
	<button class="button login-btn button-outline button-full ">
  Get Password
</button>
	</div>
	</div>
    </form>
  </ion-content>
</ion-view>
