<ion-view view-title="MyProfile"  ng-controller="userController">
  <style>
  .profile-item {
  text-align: center;
}

.profile-picture {
  border: 1px solid rgba(0, 0, 0, 0.25);
  padding: 3px;
  border-radius: 100%;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  margin: 0 auto;
  width: 128px;
  height: 128px;
  overflow: hidden;
}

.profile-picture img {
  width: 128px;
  border-radius: 100%;
}

.profile-name {
  padding-top: 20px;
  font-size: x-large !important;
  font-weight: bold !important;
  text-transform: capitalize;
}
  
  </style>
  <ion-content class="main-bg" ng-init="getUser()">
      
        <div class="list card ">
        <ion-item class="profile-item bgimg">
          <div class="profile-picture big-profile-picture">
            <img ng-if="userImage !='NA'" src="{{userImage}}"  >
            <img ng-if="userImage=='NA'" src="/img/profile_logo_.jpg"   >
          </div>
	   <div >
	 <!--   <input type = "file"  name="file" id="uploadedFileDrivingLic"/> -->
	     </div>
          <h2 class="profile-name dark">{{Profileusername}}</h2>
          <div class="profile-info">{{Profilecontact}}</div>
        </ion-item>
       </div>
      
    <form >
       <div class="row reg-main">
		<div class="col">
	
			<div class="list login-border">
			
					
  <label class="item item-input">
  <span class="ion-ios-person-outline"></span>
    <input type="text" ng-model="Profileusername" placeholder="Enter your Name" ng-change="watchUserName(Profileusername)">
  </label>
   <label class="item item-input">
  <span class="ion-ios-telephone-outline"></span>
    <input type="text" ng-model="Profilecontact" placeholder="Mobile No."  ng-change="watchMob(Profilecontact)">
  </label>
    <label class="item item-input">
  <span class="ion-ios-person-outline"></span>
    <input type="text"  ng-model="Profileemail"  placeholder="Email"  >
  </label> 
   <label class="item item-input">
  <span class="ion-ios-telephone-outline"></span>
    <input type="text" ng-model="Profileaddress" placeholder="Address"  ng-change="watchAddr(Profileaddress)">
  </label>
   <label class="item item-input">
  <span class="ion-ios-telephone-outline"></span>
    <input type="text" maxlength=2 minlength=1 ng-model="ProfileAge" placeholder="Age"  ng-change="watchAge(ProfileAge)">
  </label>
</div>
		</div>
	</div>
	 
    </form>
	 <div class="row">
	<div class="col">
	<button class="button login-btn button-outline button-full " ng-click="updateUser()">
			Update Profile
		</button>
	</div>
	</div>
	 <div class="row">
	<div class="col">
	 <a href="#/app/changePass">Change password</a>
	</div>
	</div>
	  <div class="row" ng-if="checkServicemen2=='false'">
	<div class="col">
	 <a href="#/app/addaddress">Add Address</a>
	</div>
	</div>
	 
    <hr>
       <div class="row reg-main" ng-if="checkServicemen2=='true'">
		<div class="col">
			<div class="list login-border">
     <div>
  <br>
	<p>upload Aadhar</p>
      <label class="item item-input">
 
   <span class="ion-ios-locked-outline"></span>
	
      
	   <input type = "file"  name="file" id="uploadedFileAadhar"/>
	 
	    
  </label>
  </div>
  <div> <br>
	<p>upload driving licence</p>
      <label class="item item-input">
 
   <span class="ion-ios-locked-outline"></span>
	
      
	   <input type = "file"  name="file" id="uploadedFileDrivingLic"/>
	 
  </label>
  </div>
   <div> <br>
	<p>upload vehicle photo</p>
      <label class="item item-input">
 
   <span class="ion-ios-locked-outline"></span>
	
      
	   <input type = "file"  name="file" id="uploadedFileVehiclePhoto"/>
	 
	  
  </label>
  </div>
   <div> <br>
	<p>upload vehicle rc</p>
      <label class="item item-input">
 
   <span class="ion-ios-locked-outline"></span>
	
      
	   <input type = "file"  name="file" id="uploadedFileVehicleRc"/>
	 
	   
  </label>
  </div>
   <div> <br>
	<p>upload pan card</p>
      <label class="item item-input">
 
   <span class="ion-ios-locked-outline"></span>
	
      
	   <input type = "file"  name="file" id="uploadedFilePanCard"/>
	 
	   
  </label>
  <p>upload your photo</p>
      <label class="item item-input">
 
   <span class="ion-ios-locked-outline"></span>
	
      
	   <input type = "file"  name="file" id="uploadedFilePhto"/>
	 
	   
  </label>
  <div class="row">
	<div class="col">
	<button class="button login-btn button-outline button-full " ng-click="fileupload2213()">
			Upload Files
		</button>
	</div>
	</div>
  </div></div></div></div>
  </ion-content>
</ion-view>
