<ion-view view-title="Offers" >

<ion-nav-buttons side="right" >
    <a style="color: white;" class="button button-icon ion-android-notifications" 
        ng-click="clickCreaElencoSpese()" ng-href="#/app/notifc"></a> 
		 <a style="color: white;" class="button button-icon" 
        ng-click="clickCreaElencoSpese()" ng-href="#/creaNotaSpese"><img class="notificationright" src="img/wallet.png"/></a> 
</ion-nav-buttons>
  <ion-content   >
 
<div class="row trackdetil">
<div class="col"> Just Born, Gachibowli-Hyderabad</div>
 
<div class="col text-right"> </div>
</div>
 

   
<div class="card"  >
  
   <div class="row tracktxt">
   <div class="col"> About JUST Born  is a standardized measurement of how warm a textile product is--how well it insulates the wearer of the product. We test our Just Born Well Sleep products for their TOG rating to help parents make proper selection for the environment in which their baby will be sleeping. It is important to ensure that babies stay comfortably covered for restful sleep and don’t overheat. The Just Born Wear-A-Blanket that is made of 100% cotton has a TOG value of < 1.0. Experts suggest using the product in a room temperature of 75 – 80 degrees Fahrenheit, 24-26 Celsius.

  <br> </div>
 
   

   </div>
    
     <div class="row">
	   <div class="col">
   <img src="http://www.justborn.com/resource/corporate2/image/redesign/genStoreLocation.jpg" style="width:300px">
  <a class="trackbtn"  >  Book Items</a>
   </div>
  
</div>
<br><br><br>
  

    
<!-- <div class="row tracknav bs-wizard" ng-init="getTrackDetails()">

                
                <div class="col bs-wizard-step complete">
              
                  <div class="progress"></div>
                  <a href="#" class="bs-wizard-dot"></a>
                  <div class="bs-wizard-info text-center"><img src="img/bike.png"/></div>
                </div>
                
                <div class="col bs-wizard-step complete"> 
                
                  <div class="progress"></div>
                  <a href="#" class="bs-wizard-dot active"></a>
                  <div class="bs-wizard-info text-center"><img src="img/bike.png"/></div>
                </div>
                
                <div class="col bs-wizard-step active"> 
                  
                 
                  <a href="#" class="bs-wizard-dot"></a>
                  <div class="bs-wizard-info text-center"><img src="img/bike.png"/></div>
                </div>
                
                
           
</div>
 -->
 
  </ion-content>
</ion-view>
