<ion-view view-title="Add Money" ng-controller="addMoneyController"  >
 <style>
.assignbtn {
    width: 100%;
    background: #16af61;
    color: #fff;
    padding: 5px;
    border: 0px;
    margin: 5px auto;
    text-align: center;
    text-decoration: none;
}
 </style>
  <ion-content ng-init="checkOrderStatusPayu();getWalletBalance()">
 
 
   <br><br><br>
 <div class="row tracktxt">
   <div class="col">
	<center><strong><p style="color:blue;font-size:70px;"  ng-if="amountGiven">{{amountGiven}} rs.</p></strong>	</center>
   </div>
     
  </div> 
   
 
 
<div class="card" >
   
 <div class="row tracktxt">
   <div class="col">Add Money<input type="number"  placeholder="Enter amount to add ex. 150" ng-model="amountGiven" />   </div>
     
  </div> 
    <div class="row tracktxt">
   <div class="col"><button class="assignbtn"   ng-click="addMoneyToBring(amountGiven)"  >  Add using Payumoney gateway</button>   </div>
     
  </div> 
 
</div>
  
<div class="card" >
   
  <div class="row tracktxt">
   <div class="col">
	<center><strong>Availiable balance is <p style="color:blue;font-size:50px;"  >{{walletBal}} rs.</p></strong>	</center>
   </div>
     
  </div> 
    
 
</div>


  </ion-content>
</div>
  


  </ion-content>
</ion-view>
 