<ion-view view-title="My Bank Details" ng-controller="walletController"  >
<ion-nav-buttons side="right" >
    
		 <a style="color: white;" class="button button-icon" 
        ng-click="clickCreaElencoSpese()" ng-href="#/app/MyWallet"><img class="notificationright" src="img/wallet.png"/></a> 
</ion-nav-buttons>
  <ion-content ng-init="getBankDetails()">
 

<div class="card" >
  
 <div class="row tracktxt">
   <div class="col"><b> Your Wallet Balance is  : </b>   </div>
    <div class="col"><b> 150.00rs   </b>  </div>
  </div>
    
  

</div>
 



  </ion-content>
</ion-view>
 