<ion-view view-title="My Payments" ng-controller="paymentController"  >
<ion-nav-buttons side="right" >
    
		 <a style="color: white;" class="button button-icon" 
        ng-click="clickCreaElencoSpese()" ng-href="#/creaNotaSpese"><img class="notificationright" src="img/wallet.png"/></a> 
</ion-nav-buttons>
  <ion-content ng-init="getPayments()">
 

<div class="card" >
  
 <div class="row tracktxt">
   <div class="col"><b> Order Type : </b>  <b> Online (through Payumoney)   </b><br> </div>
  </div>
    
 <div class="row tracktxt" ng-cloak>
   <div class="col"><b> Payu TxnId : </b>  <b> {{payuTxnId}}    </b><br> </div>
   </div>
   
 <div class="row tracktxt"  ng-cloak>
   <div class="col"><b> Status : </b>  <b> {{payuTxnStatus}}    </b><br> </div>
   </div>

   <div class="row tracktxt"  ng-cloak>
   <div class="col"><b> Pay through Mode : </b>  <b> {{payuTxnModel}}    </b><br> </div>
   </div>
   
   <div class="row tracktxt"  ng-cloak>
   <div class="col"><b> Bring Txn id : </b>  <b> {{payuTxnBringTxnId}}    </b><br> </div>
  </div>
    
 <div class="row tracktxt"  ng-cloak> 
   <div class="col"><b> Amount : </b>  <b> {{payuTxnAmount}}    </b><br> </div>
   </div>  
 <div class="row tracktxt"  ng-cloak>
   <div class="col"><b> Name Of User: </b>  <b> {{payuTxnFname}}    </b><br> </div>
   </div>  

</div>
</div>



  </ion-content>
</ion-view>
 