<ion-view view-title="My Wallet/My Bank" ng-controller="walletController"  >
 
<ion-nav-buttons side="right" >
     
		 <a style="color: white;" class="button button-icon" 
        ng-click="clickCreaElencoSpese()" ng-href="#/app/MyWallet"><img class="notificationright" src="img/wallet.png"/></a> 
</ion-nav-buttons>
  <ion-content ng-init="getWalletBalance()">
 
 
<div class="card" >
   
 <a class="assignbtn"  href="#/app/MyPayment" ng-click="getOrderDetails(data)"  >My Payments</a>
 <a class="assignbtn" ng-if="checkServicemen2=='false'"" href="#/app/addmoney" ng-click="AddMoney()"  >Add Money</a>
</div>
 
<div class="card" >
  
 <div class="row tracktxt2">
   <div class="col"><b> Your Wallet Balance     </b>   </div>
    <div class="col"><b> ₹ {{commissionEarned}}   </b>  </div>
  </div>
    
   <div class="row tracktxt3">
   <div class="col"><b> Referral Credit   </b>   </div>
    <div class="col"><b> ₹ {{referralCredit}}   </b>  </div>
  </div>
       
   <div class="row tracktxt">
   <div class="col"><b> Joining Bonus     </b>   </div>
    <div class="col"><b> ₹ {{joiningBonus}}   </b>  </div>
  </div>
   <div class="row tracktxt">
   <div class="col"><b> Wallet Balance     </b>   </div>
    <div class="col"><b> ₹ {{walletBal}}   </b>  </div>
  </div>
 <div class="row tracktxt1">
   <div class="col"><b> My Referral Id     </b>   </div>
    <div class="col"><b>  {{referral_id}}  </b>  </div>
  </div>
</div>
 
<div class="card" ng-if="checkServicemen2=='true'"">
  Your Bank Details   : 
 <div class="row tracktxt">
   <div class="col"><b> Your Bank Details   : </b>   </div>
    
  </div>
   
  <form name="userForm">
     <div class="row tracktxt">
   <div class="col">Name  : <input type="text" placeholder="Enter your account name here" ng-model="bankDetailsObj.ACCOUNT_NAME" />   </div>
     
  </div> 
  
     <div class="row tracktxt">
   <div class="col">Account No. :<input type="text" name="accno" placeholder="Enter your account number here" ng-model="bankDetailsObj.ACCOUNT_NUMBER" ng-minlength="5"/>   </div>
     
  </div> 
   
     <div class="row tracktxt">
   <div class="col">Bank Name :<input type="text" placeholder="Enter your bank name name here" ng-model="bankDetailsObj.BANK_NAME"/>   </div>
     
  </div> 
  
    <div class="row tracktxt">
   <div class="col">Branch  <input type="text" placeholder="Enter your bank IFSC code" ng-model="bankDetailsObj.BRANCH" />   </div>
     
  </div> 
  <div class="row tracktxt">
   <div class="col">IFSC Code<input type="text" placeholder="Enter your bank IFSC code" ng-model="bankDetailsObj.IFSC" ng-value="bankDetailsObj.IFSC_CODE"/>   </div>
     
  </div> 
    <div class="row tracktxt">
   <div class="col"><button class="assignbtn"   ng-click="addBankDetails(bankDetailsObj)" ng-disabled="userForm.$invalid">  Add/Update Bank Details</button>   </div>
     
  </div> 
  </form>
</div>
 


  </ion-content>
</ion-view>
 