<ion-view view-title="My Orders"  ng-controller="MyCtrl">
<style>
.abc {
    width: 150%;
    height: inherit;
    /* left: 0; */
    /* right: 47px; */
    min-width: auto;
    border: 0px;
    background: rgba(204, 204, 204, 0);
    color: #fff;
}
.abc1 {
    width: 250%;
    height: inherit;
    /* left: 0; */
    /* right: 47px; */
    min-width: auto;
    border: 0px;
    background: rgba(204, 204, 204, 0);
    color: #fff;
}
 
.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    border: none;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
	font-size : 12px
}
.wrap    {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
 @media (max-width: 320px) {

    .flex-container.wrap > div{
        width: 50%;
        max-width: 50%;
        text-overflow: '';
        white-space:nowrap;
        overflow: hidden;
    }

}
 
</style>
 
	 <ion-content      >
	 
  <div class="row reg-main">
		<div class="col">
			<div class="list login-border">
	  
 
   <h4><center>Select from date</center></h4>
          <onezone-datepicker datepicker-object="onezoneDatepicker">
    <button class="button button-block button-outline button-positive show-onezone-datepicker">
        {{onezoneDatepicker.date | date:'dd MMMM yyyy'}} 
    </button>
</onezone-datepicker> 
           
   <h4><center>Select to date</center></h4>
          <onezone-datepicker datepicker-object="onezoneDatepicker1">
    <button class="button button-block button-outline button-positive show-onezone-datepicker">
        {{onezoneDatepicker1.date | date:'dd MMMM yyyy'}} 
    </button>
</onezone-datepicker> 
		  </div> </div> 
		  
		  </div>
		  <div class="row">
	<div class="col">
 
<a class="trackbtn"   ng-click="getMini(formObj)"  >Get Statement</a>  
 
	</div>
	<div class="col">
	 
<a class="trackbtn"   ng-click="downloadMini(formObj)"  >Download Statement</a>  
   
	</div>
	</div>
	   
 
  
		<div class="card" ng-repeat="data in ListArray">
  
  
   <div class="col"><b> Buyer ID : </b>  <b> {{data.BUYERID}}    </b><br> </div>
  
   

	<div class="col text-right" ng-if="userType != 'buyer'">Commission Earned : <b>{{data.TOTAL_BILL}}</b> 
    </div>
  
	<div class="col text-right"  >  <b> <a  ng-click="getMiniDetailsf(data)"> Details</a></b> 
    </div>
   
  
     
</div>
   
    
  
    </ion-content>
      
</ion-view>
