<ion-view view-title="Statement Details" >

<ion-nav-buttons side="right" >
   
		 <a style="color: white;" class="button button-icon" 
        ng-click="clickCreaElencoSpese()" ng-href="#/creaNotaSpese"><img class="notificationright" src="img/wallet.png"/></a> 
</ion-nav-buttons>
  <ion-content  >
 
 
 
<div class="card"  >
  
  <p > Status : {{detailsObj.status}} </p> 
  <p > Comments : {{detailsObj.COMMENTS_BY_SERVICEMAN}} </p> 
  <p > Contact Num of Delivery Person : {{detailsObj.CONTACT_DELIVERY_PER}} </p> 
  <p >Contact Num of Pkd Goods :  {{detailsObj.CONTACT_NUM_PCKD_GOODS}} </p> 
  <p >From Address : {{detailsObj.FROM_ADDRESS}} </p> 
  <p >Name Of Delivered Person : {{detailsObj.NAME_DELIVERY_PER}} </p> 
  <p >Order Type : {{detailsObj.ORDER_TYPE}} </p>
  <p >Serviceman Name : {{detailsObj.SERVICE_MAN_NAME}} </p> 
  <p >Serviceman Contact No. : {{detailsObj.SERVICE_MAN_CONTACT}} </p> 
  <p >To Address : {{detailsObj.TO_ADDRESS}} </p> 
  <p >Txn Id : {{detailsObj.TRANSACTION_ID}} </p> 
  <p >Work Order Num : {{detailsObj.WORK_ORDER_NUMBER}} </p> 
  <p > Description :{{detailsObj.description}} </p> 
  <p > Total Bill :{{detailsObj.totalbill}} </p> 
  <p > Payment History :{{detailsObj.PAYMENT_CONFIRMATION}} </p> 
</ion-view>
