<ion-view view-title="My Notifications"   >
<ion-nav-buttons side="right" > 
		 <a style="color: white;" class="button button-icon" 
        ng-click="clickCreaElencoSpese()" ng-href="#/app/MyWallet"><img class="notificationright" src="img/wallet.png"/></a> 
</ion-nav-buttons>
  <ion-content ng-init="getWalletBalance()">
 
 
 
<div class="card" >
   
 <div class="row tracktxt">
    
    <div class="col"><b> -> Received Joining Bonus of 500rs    </b>  </div>
  </div>
    
      
 <div class="row tracktxt">
    
    <div class="col"><b> -> Serviceman Assigned for Order  : WORK14   </b>  </div>
  </div>
  
</div>
 


  </ion-content>
</ion-view>
 