<ion-view view-title="Bring" ng-controller="AppCtrl">
 <script id="loading.html" type="text/ng-template">
    <ion-spinner icon="ripple" class="spinner-assertive"></ion-spinner>
    <p>Please wait,we are checking with serviceman confirmation</p>
	
</script>
<style>
 
.modal.bottom-sheet {
  bottom: 0;  
  min-height: initial;
  top: initial;
  height: 100%;
  border-width: 1px;
  border-style: solid;

}
.spinner svg {
  width: 19% !important;
  height: 85px !important;
}
.bookbtn1 {
    width: 100%;
    color: #fff;
    background: #16af61;
    border: 0px;
    padding: 8px;
    font-size: 18px;
	float: right;
}
.bookbtn2 {
    width: 100%;
    color: #fff;
    background: #16af61;
    border: 0px;
    padding: 8px;
    font-size: 18px;
	float: right;
}
.bookbtn2.active {
  background-color: #e28009;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
</style>
 
    <script id="modalft.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar class="bar bar-header bar-positive">
          <h1 class="title">New Contact</h1>
          <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
        </ion-header-bar>
        <ion-content class="padding">
          <div class="list">
            <label class="item item-input">
              <span class="input-label">First Name</span>
              <input ng-model="newUser.firstName" type="text">
            </label>
            <label class="item item-input">
              <span class="input-label">Last Name</span>
              <input ng-model="newUser.lastName" type="text">
            </label>
            <label class="item item-input">
              <span class="input-label">Email</span>
              <input ng-model="newUser.email" type="text">
            </label>
            <button class="button button-full button-positive" ng-click="createContact(newUser)">Create</button>
          </div>
        </ion-content>
      </ion-modal-view>
    </script>
    
 <script id="location.html" type="text/ng-template">
 <ion-bottom-sheet-view > 
 
   <ion-modal-view >
  
      <ion-header-bar class="item-input-inset">
	  
	   <label class="item-input-wrapper"  >
          <i class="icon ion-ios7-search placeholder-icon"></i>
           
        </label>
		<a ng-click="close()">cancel</a>
	  </ion-header-bar>
      <ion-content title="Search Location" >

   
          
	 <ion-list>
		<center><a>Enter Picup location</a></center>
		 <ion-item  >
            <input type="search"  ng-model="search.query" placeholder="Search location">
          </ion-item>
          <ion-item ng-show="search.error">
            {{search.error}}
          </ion-item>
		   <ion-item  ng-click="getLocationCurr('a')">
		    <img src="img/curr.png"  width="14px"/>
            Use current location
          </ion-item>
          <ion-item ng-repeat="suggestion in search.suggestions" ng-click="choosePlace(suggestion)">
            {{suggestion.description}}
          </ion-item>
		   
		    <ion-item  >
			<b>My addresses</b>(select any one)
          <ion-list>
			  <ion-radio ng-repeat="address in addressArray[0]" ng-value="address.ADDRESS" ng-model="selectedAddress" ng-click="selectdAddressFun(address)" name="address">{{address.ADDRESS}}</ion-radio>
		</ion-list>
		  
		   
          
		  </ion-item>
		  <ion-item  >
          <a href="#/app/addaddress" ng-click="close()">Add Address </a>
          </ion-item>
        </ion-list>
		  
            </ion-content>
    </ion-modal-view>
	      </ion-bottom-sheet-view>

  </script>
 <script id="locationTo.html" type="text/ng-template">
 <ion-bottom-sheet-view>   
   <ion-modal-view >
	
	
      <ion-header-bar class="item-input-inset">
        <label class="item-input-wrapper"  >
          <i class="icon ion-ios7-search placeholder-icon"></i>
           
        </label>
		<a ng-click="close()">cancel</a>
      </ion-header-bar>
      <ion-content title="Search Location">
	  <center><a>Enter delivery location</a></center>
        <ion-list>
		 <ion-item  >
            <input type="search"  ng-model="search.query" placeholder="Search location">
          </ion-item>
		
          <ion-item ng-show="search.error">
            {{search.error}}
          </ion-item>
		   <ion-item  ng-click="getLocationCurrLocation1()">
		    <img src="img/curr.png" width="14px"/>
            Use current location
          </ion-item>
          <ion-item ng-repeat="suggestion in search.suggestions" ng-click="chooseToPlace(suggestion)">
            {{suggestion.description}}
          </ion-item>
		    <ion-item  >
			<b>My addresses</b>(select any one)
          <ion-list>
		 
			  <ion-radio ng-repeat="address in addressArray[0]" ng-value="address.ADDRESS" ng-model="selectedAddress" ng-click="selectdAddressFun(address)" name="address">{{address.ADDRESS}}</ion-radio>
		</ion-list>
		  
		   
          
		  </ion-item>
		  <ion-item  >
          <a href="#/app/addaddress" ng-click="close()">Add Address </a>
          </ion-item>
        </ion-list>
            </ion-content>
    </ion-modal-view>
	      </ion-bottom-sheet-view>

  </script>
<ion-nav-buttons side="right" >
    <a style="color: white;" class="button button-icon ion-android-notifications" 
        ng-click="clickCreaElencoSpese()" ng-href="#/creaNotaSpese"></a> 
		 <a style="color: white;" class="button button-icon" 
        ng-click="clickCreaElencoSpese()" ng-href="#/creaNotaSpese"><img class="notificationright" src="img/wallet.png"/></a> 
</ion-nav-buttons>
  <ion-content>
 
<div class="row ">
<div class="col ">
<!-- <label class="item item-input">
    <input type="text"  ng-model="formObj.fromGoogleAddress" ng-change="newFromPlace(formObj.fromGoogleAddress)" googleplace placeholder="From Location">
	<span class="ion-location pull-right">
  </label> -->
  
     <label class="item item-input">
    <input type="text"  
location-suggestion location="location" ng-model="location.formatted_address"
	  placeholder="Pickup Location">
	 
  </label>
 
 
    <label class="item item-input">
    <input type="text" id="location1"  location-suggestions location="location1" ng-model="location1.formatted_address"   placeholder="Delivery Location"  >
 
  </label>
</div>
</div>
<div class="row ">
	<div class="col"> </div>
	</div>
   <div class="row ">
	<div class="col"><button class="bookbtn1" ng-click="checkAvailBring()">Check Availiability</button></div>
	</div>
  <form   ng-if="serviceAvail">

       <div class="row reg-main">
		<div class="col">
			<div class="list buy-border">
			 <p><u>Pickup</u></p>
			  <label class="item item-input">
    <input type="text" ng-model="formObj.PickCompleteAddress" placeholder="Complete address of pickup (H.No..Etc)" ng-change="validationOfPickAddr(formObj.PickCompleteAddress)">
	 <p ng-if="validPAddress">Please enter address</p>
  </label>
  <label class="item item-input">
    <input type="text" ng-model="formObj.pickContactPerson" placeholder="Name of pickup person" ng-change="validationOfPickNm(formObj.PickCompleteAddress)">
	 <p ng-if="validPnm">Please enter name.</p>
  </label>
  <label class="item item-input">
    <input type="text" maxlength=10 no-chars  no-special-chars ng-model="formObj.pickContactNumber" placeholder="Contact No of pickup" ng-change="validationOfPickNum(formObj.PickCompleteAddress)">
	<p ng-if="validPCon">Please contact no.</p>
  </label>
  <br>
    <p><u>Delivery</u></p>
    <label class="item item-input">
    <input type="text" ng-model="formObj.deliverCompleteAddress" placeholder="Complete address to deliver (H.No..Etc)" ng-change="validationOfDelAdd(formObj.PickCompleteAddress)">
	  <p ng-if="validDAddress">Please enter address</p>
   </label>
    <label class="item item-input">
    <input type="text" ng-model="formObj.deliContactPerson" placeholder="Name of delivery person" ng-change="validationOfDelNm(formObj.PickCompleteAddress)">
	 <p ng-if="validDnm">Please enter name</p>
  </label>
  
    <label class="item item-input">
    <input type="text" maxlength=10 no-chars no-special-chars ng-model="formObj.delveryContactNumber" placeholder="Contact No of delvery" ng-change="validationOfDelNum(formObj.PickCompleteAddress)">
	 <p ng-if="validDCon">Please contact no.</p>
  </label>

 <!-- <label class="item item-input">
    <input type="text" ng-model="formObj.UserName" placeholder="Estimated Weight">
	
  </label> -->
   <label class="item item-input">
   
      
	
	 <select class="bringselect" ng-model="formObj.prodDesc" ng-options="val.name for val in descriptionValue"
	 
	 >
      <option selected value="">Description</option>
	 
     
   
     
   </select>
  </label>
   
  <label class="item item-input">
    <input type="text"   ng-model="formObj.EXTRA_DESC" placeholder="Complete Description" >
	 </label>
  <label class="item item-input">
    <input type="text"  maxlength=3  no-chars no-special-chars ng-model="formObj.estWeight1" placeholder="Estimated Weight eg. 10" >
	 </label>
	  <label class="item item-input">
     <button class="bookbtn2" type="button" ng-click="getPriceNew(formObj.estWeight1)">Get Price</button>
	 </label>
	 
 
  <!--  <label class="item item-input">
   
     <select class="bringselect" ng-model="estWeight1" ng-options="val.name for val in arrayOfEst"
	 ng-change="getPriceNew(estWeight1)"
	 >
      <option selected value="">Est. Weight</option>
	 
     
   
     
   </select>
	
  </label>
  -->
 
 <div class="pricetxt bringprice">
 <p>ESTIMATED PRICE  (total price = (weight - dist.) * average km charges)</p>  
 <h3>{{dynamicValuePrice}} rs </h3> 
  
<b> <p id="myP"></p>    
 </b>
 </div>
</div>
		</div>
	</div>
	<div class="row">
	<div class="col"><button class="cancelbtn">Cancel</button></div>
	<div class="col"><button class="bookbtn" ng-click="doBring(formObj)" ng-disabled="makeDisable">Book Now</button></div>
	</div>
    </form>
	  
	
	
  </ion-content>
</ion-view>
