<ion-view view-title="Order Summary" ng-controller="ordersummary"  >
  <script id="loading.html" type="text/ng-template">
    <ion-spinner icon="ripple" class="spinner-assertive"></ion-spinner>
    <p>Please wait,we are checking with serviceman confirmation</p>
	<button 
          class="button button-block bar-positive"
          ng-click="stopLoading()"
          >
          Cancel
        </button>
</script>

<ion-nav-buttons side="right" >
    <!-- <a style="color: white;" class="button button-icon ion-android-notifications" 
        ng-click="clickCreaElencoSpese()" ng-href="#/app/notifc"></a>  -->
		 <a style="color: white;" class="button button-icon" 
        ng-click="clickCreaElencoSpese()" ng-href="#/app/MyWallet"><img class="notificationright" src="img/wallet.png"/></a> 
</ion-nav-buttons>
  <ion-content  >
<div class="card" >
  
 <div class="row tracktxt">
   <div class="col"><b> Your order details   : </b>   </div>
    
  </div>
   
  <form name="userForm">
     <div class="row tracktxt">
   <div class="col">Email  : <input type="text"   ng-model="finalBringObject.buyerid" readonly/>   </div>
     
  </div> 
  
     <div class="row tracktxt">
   <div class="col">Order type :<input type="text" name="accno"   value="BringGoods" readonly />   </div>
     
  </div> 
   
     <div class="row tracktxt">
   <div class="col">From Address :<input type="text"   ng-model="finalBringObject.fromaddress" readonly/>   </div>
     
  </div> 
  
    <div class="row tracktxt">
   <div class="col">To Address  <input type="text"   ng-model="finalBringObject.toaddress"readonly />   </div>
     
  </div> 
  <div class="row tracktxt">
   <div class="col">Pickup contact person : <input type="text"  readonly ng-model="finalBringObject.packdgoodspersonname"  />   </div>
     
  </div> 
  
  <div class="row tracktxt">
   <div class="col">Pickup contact person : <input type="text" readonly  ng-model="finalBringObject.packdgoodscontactno"  />   </div>
     
  </div> 
  
  <div class="row tracktxt">
   <div class="col">Pickup contact number : <input type="text" readonly  ng-model="finalBringObject.packdgoodscontactno"  />   </div>
     
  </div> 
  <div class="row tracktxt">
   <div class="col">Pickup address : <input type="text" readonly ng-model="finalBringObject.pickaddressop"  />   </div>
     
  </div> 
  
  <div class="row tracktxt">
   <div class="col">Description : <input type="text" readonly  ng-model="finalBringObject.extradesc"  />   </div>
     
  </div> 
  
   <div class="row tracktxt">
   <div class="col">Delivery person name : <input type="text"  readonly ng-model="finalBringObject.nameDelPerson"  />   </div>
     
  </div> 
  
  <div class="row tracktxt">
   <div class="col">Delivery person name : <input type="text" readonly  ng-model="finalBringObject.nameDelPerson"  />   </div>
     
  </div> 
  <div class="row tracktxt">
   <div class="col">Delivery person number : <input type="text" readonly ng-model="finalBringObject.contDelPerson"  />   </div>
     
  </div> 
   <div class="row tracktxt">
   <div class="col">Delivery address : <input type="text" readonly  ng-model="finalBringObject.deladdressop"  />   </div>
     
  </div> 
  <div class="row tracktxt">
   <div class="col">Est. Cost : <input type="text" readonly  ng-model="finalBringObject.estimatedCost"  />   </div>
     
  </div> 
  
   <div class="row tracktxt">
   <div class="col">Est. Weight : <input type="text" readonly ng-model="finalBringObject.estimatedWeight"  />   </div>
     
  </div> 
    <div class="row ">
		<div class="col"><button class="cancelbtn" ng-click="cancel()">Cancel</button></div>
   <div class="col"><button class="bookbtn" ng-click="finalBring()" >Book Now</button> </div>
     
  </div> 
 
	
  </form>
</div>


  </ion-content>
</ion-view>
 