.main-slide.slider img {
    width: 100%;
}
.row.main-service {
    text-align: center;
}
.row.main-service div {
    font-size: 24px;
    padding: 18px;
    margin: 1px;
}
.row.main-service span {
    font-size: 70px;
}
.login-logo img{width:50%; margin:0px auto;}
.login-logo{text-align:center; margin-top:15px;}
.login-border label {
    border: none;
    border-bottom: 2px #fff solid;
	    background: none;
}
ion-header-bar.bar-stable.bar.bar-header {
/*    background: #f0662b;*/
    background: #f70059;
}
.title.header-item {
    color: #fff !important;
    text-align: center !important;
    left: 0px !important;
}
.bring-loc {
    background: #ff5722;
}
.bring-loc div label {
    background: rgba(255, 255, 255, 0);
    border: 0px;
    border-bottom: 1px solid #fff;
    color: #fff;
}
.bring-loc div label span {
    position: relative;
    left: -10px;
}
.bringselect {
    width: 100%;
    border: 0px;
    padding: 5px 0px;
}
.bringprice{
    background: #ddd;
    margin-top: 20px;
    text-align: center;
}
.bringprice p {
    margin-bottom: 0px;
    padding-top: 20px;
    border-bottom: 1px dashed #333;
    padding-bottom: 10px;
}
.bringprice h3{
    margin: 0px !important;
    padding-bottom: 20px !important;
	padding-top:5px;
}
.trackbtn {
    width: 100px;
    background: #888;
    color: #fff;
    padding: 5px;
    border: 0px;
    margin: 5px auto;
    text-align: center;
	text-decoration: none;
} .tracktxt1 {
    background-color:  rgba(239, 8, 178, 0.12);
}
.tracktxt2 {
    background-color: aliceblue;
}
.tracktxt3 {
    background-color: azure;
}
.tracktxt4 {
    background-color: cornsilk;
}
.assignbtn{
    width: 100px;
    background: #16af61;
    color: #fff;
    padding: 5px;
    border: 0px;
    margin: 5px auto;
    text-align: center;
	text-decoration: none;
}
.trackdetil {
    background: #666;
    color: #fff;
    padding: 10px 5px;
}
.trackdetilsub img {
    width: 38px;
    border: 1px solid #000;
    border-radius: 50%;
    padding: 8px;
	float:left;
}
.trackpull-left{    float: left;
    padding-left: 15px;
    color: #ff5722;
    font-size: 16px;}
.trackcor {
    color: #ff5722;
    font-size: 16px;
    padding-top: 10px;
}
#map {
    width: 100%;
    height: 100%;
    min-height: 460px;
}
.tracknav{
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0px;
    min-height: 150px;
    background: rgba(255, 255, 255, 0.68);
}
.bs-wizard {margin-top: 40px;}

/*Form Wizard*/
.bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0;}
.bs-wizard  .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard  .bs-wizard-step + .bs-wizard-step {}
.bs-wizard  .bs-wizard-step .bs-wizard-stepnum {color: #595959; font-size: 16px; margin-bottom: 5px;}
.bs-wizard  .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px;}
.bs-wizard .bs-wizard-step  .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: #fff; top:80px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;     box-shadow: 1px 2px 4px #ccc;} 
.bs-wizard  .bs-wizard-step  .bs-wizard-dot:after {content: ' '; width:20px; height:20px;     background: #999;
    border-radius: 50px;
    position: absolute;
    top: 5px;
    left: 5px; } 
	.bs-wizard-info img {
    border: 0px;
    width: 70px;
    margin: 0 auto;
    text-align: center;
	margin-left: 20px;
}
.bs-wizard  .bs-wizard-step  .bs-wizard-dot.active:after {background: #ff5722;}
.bs-wizard  .bs-wizard-step  .progress {    position: relative;
    border-radius: 0px;
    height: 1px;
    background: #ccc;
    left: 60px;
	top:80px;}

.bs-wizard .bs-wizard-step.disabled  .bs-wizard-dot {background-color: #f5f5f5;}
.bs-wizard .bs-wizard-step.disabled .bs-wizard-dot:after {opacity: 0;}
.bs-wizard .bs-wizard-step:first-child  .progress {left: 50%; width: 50%;}
.bs-wizard .bs-wizard-step:last-child .progress {width: 50%;}
.bs-wizard .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }
/*END Form Wizard*/
.trackdetilsub {
    margin-top: 10px !important;

}
.tracktxt b {
    font-size: 15px;
}
.row.tracktxt {
    line-height: 25px;
}
.trackred {
    color: #ff5722;
    font-size: 16px;
}
.bring-loc div label:last-child {border-bottom:0px;}
.bring-loc div label input::-webkit-input-placeholder{
    color: #fff;
}

button.button.button-icon.button-clear.ion-navicon {
    color: #fff;
}
.main-bg{ background:#ffffff;}
.login-border label input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color:#fff;
}
.login-border label input::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
.login-border label input:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
.login-border label input:-moz-placeholder { /* Firefox 18- */
  color:#fff;
}
button.button.login-btn.button-outline.button-full{
    border: 1px solid #fff;
    border-radius: 10px;
    color: #fff;
	    min-height: 44px;
}

.login-link{
text-align:center;
color:#fff;
}
.login-link a{ text-decoration:none; color:#fff;}
.login-divider{
display:inline-flex;
color:#fff;
 line-height: 15px;
 margin-top:20px;
}
.login-divider hr{width:30%; color:#fff; }
.login-social{text-align:center;     margin-top: 10px;
    margin-bottom: 20px;}
.login-social a {
    color: #FF5722;
    background: #fff;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: inline-block;
    line-height: 34px;
    font-size: 19px;
    margin: 0px 3px;
}
.login-border label span{color:#fff; margin-top: 2px; font-size: 21px;}
.login-border label input{padding-left:10px; color:#fff; font-size: 15px;}
.reg-main{margin-top:10px; margin-bottom:20px;}
.reg-side-menu ion-item{border:none;}
.reg-side-menu ion-item span{padding-right:5px; font-size: 17px;}
.side-menu-banner{height:155px;padding:0px;}
.side-menu-banner img{width:100%;padding:0px;}
.side-menu-content{top:155px;}




.popcssfamily .popup {
    background: #fff !important;
    border-radius: 10px;
}
.popcss .popup{
background:#fff !important;
}
.popcssfamily .popup-buttons {
   color: #3257DB !important;
   background:#387df4 !important;
}

.abc  option{color:#000;}

.notificationright {
    width: 27px;
    position: relative;
    top: 1px;
}
.row.main-service{border-bottom:0px solid #ccc;}
.row.main-service:last-child{border-bottom:0px solid #ccc;}
.row.main-service .col {
    border-right: 0px solid #ccc;
    padding:30px 30px;
    margin: 0px;
 
}
.row.main-service .col a{color:#000; text-decoration:none;}
.Buy-slide.slider {
    min-height: 120px;
    background: rgba(255, 121, 79, 0.76);
    text-align: center;
    color: #fff;
    /* padding-top: 25px; */
}
.Buy-slide.slider .slider-slides ion-slide {
    padding: 30px;
}
.slider-pager .slider-pager-page {
    display: inline-block;
    margin: 0px 3px;
    width: 3px;
    color: #000;
    text-decoration: none;
    opacity: 0.3;
    font-size: 8px;
}
.list.buy-border label {
    border: 0px;
    border-bottom: 2px solid #333;
	    padding-left: 5px;
}
.list.buy-border label span {
    left: -8px !important;
    position: relative;
}
select.buyselect {
    width: 100%;
    border: 0px;
    padding: 5px 0px;
}
.row.additem-btn div a i {
    background: #ccc;
    /* width: 32px; */
    padding: 5px 12px;
    border-radius: 50%;
    color: #ff5722;
    font-weight: bold;
    font-size: 25px;
    margin-left: 13px;
    background: #fff;
    border: 2px solid #ff5722;
}
.additem-btn {
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
}
.pricetxt h3 {
    text-align: center;
    color: #ff5722;
    margin-top: 30px;
}
.row.main-service .col:last-child {
    border-right:0px solid #ccc;

}
button.cancelbtn {
    width: 100%;
    color: #fff;
    background: #888;
    border: 0px;
    padding: 8px;
    font-size: 18px;
}
button.bookbtn {
    width: 100%;
    color: #fff;
    background: #ff5722;
    border: 0px;
    padding: 8px;
    font-size: 18px;
}
button.bookbtn[disabled]  {
    width: 100%;
    color: #fff;
    background: #d89a87;
    border: 0px;
    padding: 8px;
    font-size: 18px;
}
/* hide input */
input.radio:empty {
	margin-left: -999px;
}

/* style label */
input.radio:empty ~ label {
	position: relative;
	float: left;
	color: #fff;
	line-height: 2.5em;
	text-indent: 3.25em;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

input.radio:empty ~ label:before {
    position: absolute;
    display: block;
    top:9px;
    bottom: 0;
    left: 0;
    content: '';
    width: 20px;
    background: rgba(209, 211, 212, 0);
    border-radius: 0px;
    border: 1px solid #fff;
    height: 20px;
}

/* toggle hover */
/* input.radio:hover:not(:checked) ~ label:before {
	content:'\2714';
	text-indent: .9em;
	color: #C2C2C2;
}

input.radio:hover:not(:checked) ~ label {
	color: #888;
} */

/* toggle on */
input.radio:checked ~ label:before {
	    content: '\2714';
    text-indent: 4px;
    color: #9CE2AE;
    background-color: #4DCB6D;
    font-size: 24px;
    line-height: 9px;
}

input.radio:checked ~ label {
	color: #fff;
}

/* radio focus */
 .autocomplete{
 width: 400px;
 }
 /** For the task list header columns and tasks **/
.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    border: none;
    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;
}

.wrap    {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

@media (max-width: 320px) {

    .flex-container.wrap > div{
        width: 50%;
        max-width: 50%;
        text-overflow: '';
        white-space:nowrap;
        overflow: hidden;
    }

}

@media (min-width: 321px) {
    .flex-container.wrap > div{
        width: 33%;
        max-width: 33%;
        text-overflow: '';
        white-space:nowrap;
        overflow: hidden;
    }
}

@media (min-width: 480px) {
    .flex-container.wrap > div{
        width: 25%;
        max-width: 25%;
        text-overflow: '';
        white-space:nowrap;
        overflow: hidden;
    }
}

@media (min-width: 640px) {
    .flex-container.wrap > div{
        width: 20%;
        max-width: 20%;
        text-overflow: '';
        white-space:nowrap;
        overflow: hidden;
    }
}

@media (min-width: 960px) {
    .flex-container.wrap > div{
        width: 15%;
        max-width: 15%;
        text-overflow: '';
        white-space:nowrap;
        overflow: hidden;
    }
}

.low-pad-item {
    padding: 0;
    margin: 0;
}

.col-header {
    font-weight: bold;
}

.column {
    text-overflow: '';
    white-space:nowrap;
    overflow: hidden;
    max-width: 87%;
    float: left;
    padding: 2px 5px;
}

.col-header > .column {
    padding: 5px 5px;
}

.underlined {
    text-decoration: underline;
}

.column-sort {
    min-width:13%;
    float: right;
    text-align: right;
    padding-right: 2px;
}
