<ion-view view-title="Add Address"   >
 <style>
.cancelbtn1 {
    width: 11%;
    color: #fff;
    background: #888;
    border: 0px;
    padding: 8px;
    font-size: 18px;
}
.modal.bottom-sheet {
  bottom: 0;  
  min-height: initial;
  top: initial;
  height: 100%;
  border-width: 1px;
  border-style: solid;
  
}
.bookbtn1 {
    width: 100%;
    color: #fff;
    background: #16af61;
    border: 0px;
    padding: 8px;
    font-size: 18px;
	float: right;
}
img.abc {
    width: 221px;
}
 

</style>
 <script id="locationTo.html" type="text/ng-template">
 <ion-bottom-sheet-view>   
   <ion-modal-view >
	
	
      <ion-header-bar class="item-input-inset">
        <label class="item-input-wrapper"  >
          <i class="icon ion-ios7-search placeholder-icon"></i>
           
        </label>
		<a ng-click="close()">cancel</a>
      </ion-header-bar>
      <ion-content title="Search Location">
	  <center><a>Enter location name</a></center>
        <ion-list>
		 <ion-item  >
            <input type="search"  ng-model="search.query" placeholder="Search location">
          </ion-item>
		
          <ion-item ng-show="search.error">
            {{search.error}}
          </ion-item>
		   <ion-item  ng-click="getLocationCurrLocation1()">
		    <img src="img/curr.png" width="14px"/>
            Use current location
          </ion-item>
          <ion-item ng-repeat="suggestion in search.suggestions" ng-click="chooseToPlace(suggestion)">
            {{suggestion.description}}
          </ion-item>
        </ion-list>
            </ion-content>
    </ion-modal-view>
	      </ion-bottom-sheet-view>

  </script>
<ion-nav-buttons side="right" >
    <!-- <a style="color: white;" class="button button-icon ion-android-notifications" 
        ng-click="clickCreaElencoSpese()" ng-href="#/app/notifc"></a>  -->
		 <a style="color: white;" class="button button-icon" 
        ng-click="clickCreaElencoSpese()" ng-href="#/app/MyWallet"><img class="notificationright" src="img/wallet.png"/></a> 
</ion-nav-buttons>
  <ion-content >
  
<div class="card" >
 
   
    
 <div class="row tracktxt">
   <div class="col"><b> Your address for future orders   : </b>   </div>
    
  </div>
   
  <form name="userForm">
    
  
     <div class="row tracktxt">
   <div class="col">Address description
     <label class="item item-input">
   <input type="text"   placeholder="Enter your address description" ng-model="add.addrDesc"  />   </div>
     </label>
  </div> 
    
  
    <div class="row tracktxt">
   <div class="col">Address    
    <label class="item item-input">
    <input type="text" id="location1"  location-suggestions location="location1" ng-model="location1.formatted_address"   placeholder="To Location">
 
  </label>
 
   </div>
     
  </div> 
  <div class="row tracktxt">
   <div class="col">Street
     <label class="item item-input">
   <input type="text" placeholder="Enter your street name" ng-model="add.addrStreet" />   </div>
     </label>
  </div> 
   
  <div class="row tracktxt">
   <div class="col">Pin code
     <label class="item item-input">
   <input type="text" placeholder="Enter your pin code" ng-model="add.addrPinCode" />   </div>
     </label>
  </div> 
   <div class="row tracktxt">
   <div class="col">Flat No.
     <label class="item item-input">
   <input type="text" placeholder="Enter your flat no." ng-model="add.addrFlatNo" />   </div>
     </label>
  </div> 
    <div class="row tracktxt">
   <div class="col">City<input type="text" placeholder="Enter your city name" ng-model="add.addrCityName" />   </div>
     
  </div> 
   <div class="row tracktxt">
   <div class="col">State
     <label class="item item-input">
   <input type="text" placeholder="Enter your state name" ng-model="add.addrStateName" />   </div>
     </label>
  </div> 
    <div class="row tracktxt">
   <div class="col"><button class="assignbtn"   ng-click="addAddres(add)"  >  Save Addres</button>   </div>
     
  </div> 
  </form>
</div>
 


  </ion-content>
</ion-view>
 