
<ion-view view-title="Brings" hide-back-button="true" ng-controller="AppCtrl" >
<style>
    
.gridImage{
    width: 100px;
    height: 70px;
color: #f70059;
font-family: "Open Sans";
    text-align: center;
}
.gridText{
color: #f70059;
font-family: "Open Sans";
font-size: 20px !important;
font-weight: 400;
    text-align: center;

}
.gridBottomImg{
     height: 85px;
    width: 350px;
    text-align: center;
}    
    .bannerGrid{
    margin-bottom: 0px;
/*    margin-top: 40px; */
    } 

</style>
<ion-nav-buttons side="right" >
   <!--  <a style="color: white;" class="button button-icon ion-android-notifications" 
        ng-click="clickCreaElencoSpese()" ng-href="#/app/notifc"></a>  -->
		 <a style="color: white;" class="button button-icon" 
        ng-click="clickCreaElencoSpese()" ng-href="#/app/MyWallet"><img class="notificationright" src="https://cdn3.iconfinder.com/data/icons/currency-rupee-1/36/Currency_financial_money_price_indian_rupee_finance_-_Copy_5-512.png"/></a> 
</ion-nav-buttons>
  <ion-content>
  <ion-slide-box class="main-slide">
   <ion-slide>
    <img class="bannerGrid" src="img/banner_01.png">
  </ion-slide>
   
</ion-slide-box>
   
   <div class="row main-service" ng-if="checkServicemen2=='false' || checkServicemen2==null">  
    <div class="col"><a href="#/app/bring"><img class="gridImage" src="img/bring_icon.png" /><span class="gridText">Bring</span></a></div>
    <div class="col"><a href="#/app/currorderlist"><img class="gridImage" src="img/order_icon.png" /><span class="gridText">Orders</span></a></div>     
   </div> 
   <div class="row main-service">
    <div class="col"> <a href="#/app/bringbuy"><img class="gridImage" src="img/track_icon.png" /> <span class="gridText">Buy</span></a></div> 
    <div class="col"><a href="#/app/mini"><img class="gridImage" src="img/statements_icon.png" /><span class="gridText">Statement</span></a></div>
   </div>
   <div class="row main-service">
   <img class="gridBottomImg" src="img/parcel_graphics.png" />
   </div>
      
  </ion-content>
  
</ion-view>
